.navbar-brand img{
    width: 130px;
}
.feature-item img{
    width: 50px;
    height: auto;
    
}
.list-group{
    font-size: 18px;
}
.list-group-item span{
    color: black;
    font-weight: 500;
}
.main-header{
    padding-top: 120px;
}
.subcribe{
    background-image: url(./img/subscribe.jpg);
    background-size: cover;
    background-position: center;
}
footer{
    color: white;
}
.brand-icon img{
    width: 130px;

}
.copy-right{
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    background-color: black;
}
.blur-filter{
    backdrop-filter: blur(8px);
    background-color: #cccccc20;
}
.p-blog{
font-size: 22px;
}
.span-item{
    font-size: 22px;
}
.contact-item{
    margin-top: 100px;
}
.text-card-body{
    font-size: 22px;
}
.cost-item{
    margin-top: 80px;
}
.text-covered{
font-size: 21px;
}
.blog-item-1{
    font-size: 19px;
}
